body{
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
  
}

.header{
  text-align: center;
  background-color: white;
  height : 220px;
  border-bottom-width: 15px;
  border-bottom-style: solid;
  border-color: rgb(22, 58, 113);

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.content{
  text-align: center;
  color: rgb(22, 58, 113);
  font-size: 100px;
  font-family: 'Arial';
}


.logo-image{
  height: 140px;
  vertical-align: center;
  margin-top: 45px;
}

.thanks{
  font-size: 150px;
  margin-top: 220px;
  padding-top: 40px;
  padding-bottom: 25px;
  font-weight: bold;
}

.call{
  font-size: 80px;
  margin-top: 20px;
}

.update-info{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 40px;
  margin-top: 60px;
}

.name, .number{
  height: 115px;
  width:534px;
  border-style: none;
  padding: 0;
  border: 1;
  margin-top: 100px;
  padding-right: 100px;
  background-image: url('/images/edit.png');
  background-position-x: 100%;
  background-position-y: 70%;
  background-repeat: no-repeat;
  transform: translateX(50px);
  font-size: 100px;
  color: rgb(22, 58, 113);
}

.name::placeholder, .number::placeholder{
  font-size: 100px;
  color: rgb(22, 58, 113);
  text-align: center;
}

.number{
  width:684px;
}


.paying{
  margin-top: 70px;
  font-size: 90px;
}

.money{
  margin-top: 20px;
  height: 115px;
  width:634px;
  border-style: none;
  padding: 0;
  border: 1;
  background-image: url('/images/edit.png');
  background-position-x: 100%;
  background-position-y: 70%;
  background-repeat: no-repeat;
  transform: translateX(50px);
  font-size: 100px;
  color: rgb(22, 58, 113);
}

.bill{
  margin-top: 20px;
  font-size: 90px;
}

.submit{
  margin-top: 100px;
  font-size: 110px;
  background-color: #BF9D60;
  color: white;
  padding: 25px 60px 25px 60px;
  border-radius: 80px;
  border-style: none;
}
